.page__container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.page__main {
  width: 100%;
  flex: 1 1 0%;
}

.page__horizontal-space {
  margin: auto;
  max-width: 77rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page__vertical-space {
  padding-top: 30px;
  padding-bottom: 30px;
}

.products-grid {
  display: flex;
}

.products-grid .product-card {
  border: 1px solid #f3f3f3;
  padding: 1em;
  border-radius: 1em;
  margin-right: .5em;
  max-width: 33%;
}

.products-grid .product-card img {
  max-width: 212px;
  height: auto;
}
